.Conteudo01 {
	border: 2px solid blue;
	background-color: gray;
	width: 200px;
	height: 200px;
	position: absolute;
	z-index: 0;
	margin: 20px;
}

.Conteudo02{
	border: 2px solid purple;
	background-color: yellow;
	width: 200px;
	height: 200px;
	position: absolute;
	top: 80px;
	left: 80px;
	z-index: 1;
	margin: 20px;
}

.Conteudo03{
	border: 2px solid green;
	background-color: pink;
	width: 200px;
	height: 200px;
	position: absolute;
	top: 160px;
	left: 160px;
	z-index: 1;
	margin: 20px;
}

.Container{
	background-color: #F4F4F4;
	height: 400px;
}